<!DOCTYPE html>
<html ng-app="myMod">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="bootstrap.css"/>
</head>
<body>
<div ng-controller="myCtrl">
    <input type="text" ng-model="value" ng-model-options="{debounce:1000}"/>
    <table class="table table-bordered">
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>成绩</th>
        </tr>
        <tr ng-repeat="a in arr|filter:value">
            <td>{{$index+1}}</td>
            <td>{{a.name}}</td>
            <td>{{a.age}}</td>
            <td>{{a.math}}</td>
        </tr>
    </table>
</div>
<script charset="utf-8" type="text/javascript" src="angular.js"></script>
<script>
    var myMod=angular.module('myMod',[]);
    myMod.controller('myCtrl',function($scope){
        $scope.arr=[{name:'zhang',age:18,math:55},{name:'li',age:20,math:60},{name:'feng',age:14,math:35}]
    })
</script>
</body>
</html>