<!DOCTYPE html>
<html lang="en" ng-app="myMod">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap.css">
    <style>
        .userForm input.ng-pristine{
            border-color:blue
        }
        .userForm input.ng-dirty.ng-invalid{
            border-color:red
        }
        .userForm input.ng-valid{
            border-color:green
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <form  class="form-horizontal userForm">
            <div class="form-group">
                <label class="control-label col-md-2">text</label>
                <div class="col-md-10">
                    <input type="text"  ng-model="name" ng-maxlength="16" class="form-control" placeholder="用户名不要超过16个字符" required>
                    {{name}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">email</label>
                <div class="col-md-10">
                    <!--内置有正则表达式对该指令input[email]进行验证-->
                    <input type="email" ng-model="email" class="form-control" required>
                    {{email}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">url</label>
                <div class="col-md-10">
                    <!--内置有正则表达式对该指令input[url]进行验证-->
                    <input type="url" ng-model="url" class="form-control"  required>
                    {{url}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">date</label>
                <div class="col-md-10">
                    <!--内置有正则表达式对该指令input[date]进行验证-->
                    <input type="date" ng-model="date" class="form-control"  required>
                    {{date}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">number</label>
                <div class="col-md-10">
                    <!--内置有正则表达式对该指令input[date]进行验证-->
                    <input type="number" ng-model="number" class="form-control" max="10" min="3"  required>
                    {{number}}
                </div>
            </div>
        </form>
    </div>

</div>

<!--
  ng-pristine  文本框没有发生任何变化时的类名
  ng-dirty     文本框发生变化时的类名
  ng-invalid   验证失败时候的类名
  ng-valid     验证成功时候的类名
-->

<script src="angular.js"></script>
<script>
    var myMod = angular.module('myMod', []);


</script>
</body>
</html>